.portfolio-box-1:hover .mask-1{
	background:rgba(255,255,255,.8);
}

.portfolio-box-1 h6 {
	color:#000;
}

.logo-wrap h5 {
	color:#000;
	border-bottom: 1px solid #007F7F;
}

.cd-header .container{
    padding-top: 8px;
	
}

.footer-img h6 {
	display: inline-block;
	color:#000;
	border-bottom: 1px solid #007F7F;
}

.content-post h5 {
	padding-top: 60px;
}

.content-post p {
	padding-bottom: 20px;
}
.content-post {
	background: #fff;
}

.sidebar p {
	text-align: left;
}



.sidebar .icons{ 
	float:left;
    font-family: 'et-line';
	color:#212121;
	font-size:24px;
	line-height:24px;
	
	padding-right:10px;
}


.sidebar h6{ 
	text-align:left;
	padding-bottom:10px;
	padding-top:5px;

}


.hero-text.back-white-large{
	max-width:420px;
	padding:30px;
	display:block;
	background:rgba(255,255,255,.9);
}