.portfolio-box-1:hover .mask-1{
	background:rgba(255,255,255,.8);
}

.portfolio-box-1 h6 {
	color:#000;
}

.logo-wrap h5 {
	color:#000;
	border-bottom: 1px solid #007F7F;
}

.cd-header .container{
    padding-top: 8px;
	
}

.footer-img h6 {
	display: inline-block;
	color:#000;
	border-bottom: 1px solid #007F7F;
}

.content-post h5 {
	padding-top: 60px;
}

.content-post p {
	padding-bottom: 20px;
}
.content-post {
	background: #fff;
}