#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-checkpoint_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-checkpoint_detour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-progress {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-display {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01aacb32-20e2-4914-8ab3-8a948603802b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}