#s-151bd419-5efc-4b88-8d0a-d06ddceec1f1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151bd419-5efc-4b88-8d0a-d06ddceec1f1 #s-checkpoint_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151bd419-5efc-4b88-8d0a-d06ddceec1f1 #s-dianne {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151bd419-5efc-4b88-8d0a-d06ddceec1f1 #s-progress {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151bd419-5efc-4b88-8d0a-d06ddceec1f1 #s-display {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151bd419-5efc-4b88-8d0a-d06ddceec1f1 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-151bd419-5efc-4b88-8d0a-d06ddceec1f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}