#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-start {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18bc4b4a-c172-4bec-a6e3-408961bc4ee3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}