#s-51b60a12-cd69-41a9-be68-6054f83804d3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51b60a12-cd69-41a9-be68-6054f83804d3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51b60a12-cd69-41a9-be68-6054f83804d3 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51b60a12-cd69-41a9-be68-6054f83804d3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51b60a12-cd69-41a9-be68-6054f83804d3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51b60a12-cd69-41a9-be68-6054f83804d3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51b60a12-cd69-41a9-be68-6054f83804d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}