#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Ellipse_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}