#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e955647-baaf-4731-afe3-46b1281e5178 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}