#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a56117ee-436a-4c6b-9aed-965128ff49d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}