#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Save_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-key_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-passtext1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-User_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Key_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-passtext2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b #s-Statusbar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b107c292-d618-44ed-92b9-c0e4c8f26e0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}