#s-b30f4229-fb72-4496-8ee5-f73a9860f193 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 568px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 62px;
  left: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Panel_1 {
  width: 320px;
  height: 506px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: -185px;
  width: 532px;
  height: 528px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_2 {
  position: absolute;
  top: 134px;
  left: 153px;
  width: 38px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Ellipse_1 .content {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Ellipse_1 {
  position: absolute;
  top: 160px;
  left: 162px;
  width: 20px;
  height: 20px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Rectangle_1 {
  position: absolute;
  top: 95px;
  left: 181px;
  width: 135px;
  height: 11px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_3 {
  position: absolute;
  top: 30px;
  left: 137px;
  width: 192px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Label_1 {
  position: absolute;
  top: 46px;
  left: 164px;
  width: 153px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin;
  font-size: 18pt;
  line-height: 18pt;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_5 {
  position: absolute;
  top: -50px;
  left: -5px;
  width: 325px;
  height: 578px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Button_1 {
  position: absolute;
  top: 420px;
  left: 79px;
  width: 174px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Thin;
  font-size: 12pt;
  line-height: 12pt;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}