#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b30f4229-fb72-4496-8ee5-f73a9860f193 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}