#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b676d1da-8382-4a7a-beaf-999903cd6987 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}