#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}