#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Ellipse_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bd75b2c7-e815-4e8b-80f2-308ab58acdb6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}