#s-385a93b1-8296-495e-9610-612dde4eae45 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-385a93b1-8296-495e-9610-612dde4eae45 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-385a93b1-8296-495e-9610-612dde4eae45 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-385a93b1-8296-495e-9610-612dde4eae45 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}