#s-385a93b1-8296-495e-9610-612dde4eae45 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-385a93b1-8296-495e-9610-612dde4eae45 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-385a93b1-8296-495e-9610-612dde4eae45 #s-Ellipse_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-385a93b1-8296-495e-9610-612dde4eae45 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}