#s-67eb6f76-b736-4cab-856c-f34956fd8fd5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67eb6f76-b736-4cab-856c-f34956fd8fd5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67eb6f76-b736-4cab-856c-f34956fd8fd5 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67eb6f76-b736-4cab-856c-f34956fd8fd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}