#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-checkpoint_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-checkpoint_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-checkpoint_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-dianne {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-start {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-checkpoint_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 #s-stop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e61f7ac7-386e-40dd-a483-4e2888182eb5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}