#t-75d1867e-4513-4b2e-8dc6-057b663ee0b9 #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-75d1867e-4513-4b2e-8dc6-057b663ee0b9 #t-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-75d1867e-4513-4b2e-8dc6-057b663ee0b9 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
}
#t-75d1867e-4513-4b2e-8dc6-057b663ee0b9 #t-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#t-75d1867e-4513-4b2e-8dc6-057b663ee0b9 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-75d1867e-4513-4b2e-8dc6-057b663ee0b9 #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-75d1867e-4513-4b2e-8dc6-057b663ee0b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}