#t-4e44a0ed-0e2f-41e5-887e-70ba84eccfed #t-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-4e44a0ed-0e2f-41e5-887e-70ba84eccfed #t-base_header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-4e44a0ed-0e2f-41e5-887e-70ba84eccfed #t-Statusbar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45) ;
  filter: alpha(opacity=45) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-4e44a0ed-0e2f-41e5-887e-70ba84eccfed #t-Page_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-4e44a0ed-0e2f-41e5-887e-70ba84eccfed #t-Back_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-4e44a0ed-0e2f-41e5-887e-70ba84eccfed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}