#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Shadow {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=21) ;
  filter: alpha(opacity=21) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45) ;
  filter: alpha(opacity=45) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Playlists {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Albums {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Bands {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-TopAlbums {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 #t-Line {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-6cae5a75-4816-4a82-9d78-b99010614eb0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}