#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Shadow {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=21) ;
  filter: alpha(opacity=21) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-base_header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Statusbar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45) ;
  filter: alpha(opacity=45) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Page_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Menu_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Saved {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-latest {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Profile {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-details {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}