#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Background {
  -pie-background: linear-gradient(to bottom,#E0E0E0,#FEFFFE);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Shadow {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=21);
  filter: alpha(opacity=21);
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-base_header {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Statusbar {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Page_title {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Menu_icon {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Background_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #68A8AD;
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Saved {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-latest {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Profile {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-Home {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-details {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 #t-logo {
  -ms-transform: rotate(0.0deg);
}
#t-d6e3dc51-3551-4ae1-9940-ccc6e3c58314 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}