<html>
  <body>
    <div class="ui-page">
         <div id="t-6cae5a75-4816-4a82-9d78-b99010614eb0" class="template firer commentable" name="Master_Template white">
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/6cae5a75-4816-4a82-9d78-b99010614eb0-1394181893336.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/6cae5a75-4816-4a82-9d78-b99010614eb0-1394181893336-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/6cae5a75-4816-4a82-9d78-b99010614eb0-1394181893336-ie8.css" /><![endif]-->
           <div id="t-Background" class="pie rectangle firer commentable" >
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Background_0"></span>
               </div>
             </div>
           </div>
           <div id="t-Shadow" class="rectangle firer click commentable" >
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Shadow_0"></span>
               </div>
             </div>
           </div>
           <div id="t-Header" class="group firer ie-background commentable">
             <div id="t-Rich_text_1" class="richtext firer commentable" >
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rich_text_1_0"></span>
                 </div>
               </div>
             </div>
             <img id="t-Image_1" class="image firer ie-background commentable"   alt="image" src="./images/9f0df3b5-2b5a-40ad-a918-2f66750e1813.png"/>
             <div id="t-Label_1" class="label firer pageload ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
             <img id="t-Image_3" class="image firer click ie-background commentable"   alt="image" src="./images/b8d6b25b-da9d-413c-9b62-816e6d939ace.png"/>
           </div>
           <div id="t-Nav_lateral" class="group firer ie-background commentable">
             <div id="t-Group_3" class="group firer ie-background commentable">
               <div id="t-Rectangle_3" class="pie rectangle firer commentable" >
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rectangle_3_0"></span>
                   </div>
                 </div>
               </div>
               <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable" path="M 0 0 L 185 0" startMarker="none" endMarker="none" >
               </div>
               <div id="t-Line_2" class="line shape non-processed-shape firer ie-background commentable" path="M 0 0 L 185 0" startMarker="none" endMarker="none" >
               </div>
               <div id="t-Line_3" class="line shape non-processed-shape firer ie-background commentable" path="M 0 0 L 185 0" startMarker="none" endMarker="none" >
               </div>
               <div id="t-Line_4" class="line shape non-processed-shape firer ie-background commentable" path="M 0 0 L 185 0" startMarker="none" endMarker="none" >
               </div>
             </div>
             <div id="t-Playlists" class="label firer click ie-background commentable" ><div class="content"><div class="valign"><span>Playlists</span></div></div></div>
             <div id="t-Albums" class="label firer click ie-background commentable" ><div class="content"><div class="valign"><span>Albums</span></div></div></div>
             <div id="t-Bands" class="label firer click ie-background commentable" ><div class="content"><div class="valign"><span>Bands</span></div></div></div>
             <div id="t-TopAlbums" class="label firer click ie-background commentable" ><div class="content"><div class="valign"><span>Top Albums</span></div></div></div>
             <img id="t-logo" class="image firer ie-background commentable"   alt="image" src="./images/654086aa-180d-4427-8db0-4bec7e9a7d8f.png"/>
           </div>
           <div id="t-Line" class="line shape non-processed-shape firer ie-background commentable" path="M 0 0 L 320 0" startMarker="none" endMarker="none" >
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>